<p class="lead" style="font-size: 1.5em">About Yaku</p>
<% if current_user %>
  <p>
    <%= link_to edit_editable_page_path(@editablepage), :class => "btn btn-default" do %>
      <i class="fa fa-pencil"></i>&nbsp;Edit
    <% end %>
  </p>
<% end %>
<p class="lead"><%= raw @editablepage.description %></p>