<div id="page-content-wrapper">
	<div class="content-header">
	  <h1>
	   	Location
	  </h1>
	</div>

	<!-- Keep all page content within the page-content inset div! -->
	<div class="page-content inset" >
	  <div class="row">
	    <div class="col-md-8 col-md-offset-2">
      	<div class="location" id="mapid-df9ce65d-0adf-45f2-9e1b-337a4b2c8f27"></div>
				<br />
				<small><a href="https://maps.google.com.tw/maps?q=yaku+praha&hl=en&sll=24.987168,121.644789&sspn=0.012778,0.022724&brcurrent=3,0x0:0x0,0&t=m&z=16&iwloc=A">View Larger Map</a></small>
	    </div>
	    
	  </div>
	</div>
</div>