<p class="lead" style="font-size: 1.5em">Wine List</p>
<!-- Carousel -->
<div id="yaku-winelist" class="carousel slide" data-ride="carousel" data-interval="false">
	<!-- Indicators -->
	<ol class="carousel-indicators">
  	<li data-target="#yaku-winelist" data-slide-to="0" class="active"></li>
    <li data-target="#yaku-winelist" data-slide-to="1"></li>
	</ol>
	<!-- Wrapper for slides -->
	<div class="carousel-inner">
    <div class="item active">
    	<img src="/images/menu/NEW_WINE_LIST-01-web.jpg" alt="First slide" class="img-responsive">
    </div>
    <div class="item">
    	<img src="/images/menu/NEW_WINE_LIST-02-web.jpg" alt="Second slide" class="img-responsive">			    	
    </div>
	</div>
	<!-- Controls -->
	<div class="yaku-menu-control">
	<a class="left carousel-control" href="#yaku-winelist" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
	</a>
	<a class="right carousel-control" href="#yaku-winelist" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
	</a>
	</div>
</div><!-- /carousel -->