<div id="page-content-wrapper">	
	<!-- Keep all page content within the page-content inset div! -->
	<div class="page-content inset" >
	  <div class="row">
	    <div class="col-md-8 col-md-offset-2">

				<h1>New reservation</h1>
				<%= render 'form' %>
				<%= link_to 'Back', reservations_path %>

	    </div>
	  </div>
	</div>
</div>