// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#language-switch {
  position: relative;
  right: -15px;
}

#comingsoon {
  background-color:rgba(255,0,0,0);
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: -5px;
  margin-bottom: 0px;
}

#comingsoon-social {
  position: relative;
  top: -10px;
}

#coming-map {
  height:250px;
  width:400px;
  overflow:hidden;
}

#logo {
	z-index: 2000;
	left: 20px;
	position: fixed;
}

#reservation {
  position: absolute;
  right: 15%;
  top: 10%;
}

#wrapper {
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  top: 0px;
  left: 250px;
  width: 250px;
  background: rgba(0,0,0,0.5);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 70%;
  position: relative;
  top: 160px;
  left: 15%;
  background: rgba(0,0,0,0.5);
  color: #fff;
}

.sidebar-text {
	position: relative;
	display: block;
	top:200px;
}

.sidebar-nav {
  display: block;
  position: relative;
  top: 170px;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  font-size: 1.5em;
  list-style: none;
}

.sidebar-nav li a {
  color: #fff;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

	#coming-map {
    height: 400px;
    width: 320px;
    overflow: hidden;
    position: relative;
    left: -12%;
  }

  #wrapper {
	  padding-left: 0;
	}

  #page-content-wrapper {
    width: 90%;
    position: relative;
    top: 175px;
    left: 6%;
  }

	#sidebar-wrapper {
	  left: 0;
	}

	.sidebar-text {
		position: relative;
		display: block;
		top:200px;
	}

	#wrapper.active {
	  position: relative;
	  left: 250px;
	}

	#wrapper.active #sidebar-wrapper {
	  left: 250px;
	  width: 250px;
	  transition: all 0.4s ease 0s;
	}

	#menu-toggle {
	  display: inline-block;
	  position: relative;
	  left: 0%;
	}

	.inset {
	  padding: 15px;
	}

}

.contact-info {
  display: block;
  position: relative;
  top: 200px;
	left: 20px;
	color: #fff;
}

